html {
  height: 100%;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.radial-menu-container {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  height: 8em;
  width: 8em;
  transform: translate(-50%, -50%);
}

.btn-radial-menu {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.btn-path {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 70px;
  width: 70px;
  transform: translate(-50%, -50%);
  transform-origin: 0px 0px;
}

.btn-out {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  transform-origin: 0px 0px;
  border-radius: 50%;
}
